@using BusinessLogic.Models

@inject NavigationManager NavigationManager
@inject BusinessLogic.Services.IUserService UserService

<Bar Breakpoint="Breakpoint.Desktop"
     Background="Background.Primary"
     ThemeContrast="ThemeContrast.Light">
    <BarIcon IconName="customIcon" />
    <BarBrand>
        <BarItem>
            <BarLink To="">
                ИгроМир
            </BarLink>
        </BarItem>
    </BarBrand>
    <BarToggler />
    <BarMenu>
        <BarStart>
            <BarItem>
                <SelectList TItem="User"
                            TValue="User"
                            TextField="@((item)=>item.Name)"
                            SelectedValue="@curUser"
                            Data="@users" />
            </BarItem>
            <BarItem>
                <BarLink To="/events" TextColor="TextColor.White">Игротеки</BarLink>
            </BarItem>
            <BarItem>
                <BarLink To="/games" TextColor="TextColor.White">Игры</BarLink>
            </BarItem>
        </BarStart>
        <BarEnd>
            <BarItem>
                @if (curUser.Name == "guest")
                {
                    <Button Color="Color.Primary" Clicked="@OnRegClicked">Регистрация</Button>
                    <Button Color="Color.Success" Clicked="@OnLoginClicked">Вход</Button>
                }
                else
                {
                    <Button Color="Color.Primary" onclick="@Logout">@curUser.Name</Button>
                }
            </BarItem>
        </BarEnd>
    </BarMenu>
</Bar>

<Modal @bind-Visible="@loginVisible">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Вход</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Login/>
        </ModalBody>
    </ModalContent>
</Modal>

<Modal @bind-Visible="@registerVisible">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Регистрация</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Register/>
        </ModalBody>
    </ModalContent>
</Modal>

@code {
    RenderFragment customIcon =@<img src="/board-game.png" style="width:52px; height:52px" /> ;

    List<User> users = new List<User>();
    User curUser;

    bool loginVisible = false;
    bool registerVisible = false;

    protected override void OnInitialized()
    {
        for (int i = 1; i <= 4; ++i)
        {
            users.Add(UserService.GetUserByID(i) ?? new User("", ""));
        }
        curUser = UserService.GetCurrentUser();
    }

    Task OnLoginClicked()
    {
        loginVisible = true;

        return Task.CompletedTask;
    }

    Task OnRegClicked()
    {
        registerVisible = true;

        return Task.CompletedTask;
    }

    public void Logout()
    {
        var req = new LoginRequest("guest", "guest");
        UserService.Login(req);
        curUser = UserService.GetCurrentUser();
        StateHasChanged();
    }
}